services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  redis:
    image: redis:7
    container_name: redis
    restart: always
    ports:
      - "6379:6379"

  server:
    build: ./backend
    container_name: job_importer_server
    restart: always
    depends_on:
      - mongo
      - redis
    env_file:
      - ./backend/.env
    ports:
      - "4000:4000"

  worker:
    build: ./backend
    container_name: job_importer_worker
    command: ["node", "worker.js"]
    restart: always
    depends_on:
      - mongo
      - redis
    env_file:
      - ./backend/.env

  cron:
    build: ./backend
    container_name: job_importer_cron
    command: ["node", "cron.js"]
    restart: always
    depends_on:
      - redis
      - mongo
    env_file:
      - ./backend/.env

volumes:
  mongo_data:
